h1{
    font-family:cursive;
    font-weight:bold;
    font-size:1.6rem;
    text-align:center;
}
#colormodel{
    display:flex;
    margin:auto;
}
#btn{
    padding:12px 16px;
    display:flex;
    margin:auto;
    position:relative;
    top:4rem;
    background-color: bisque;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.5rem;
}
#btn:hover{
    background-color:burlywood;
    cursor:pointer;
}